<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
</head>
<body>
    <h1>欢迎登录happygo商城</h1>
    <table>
        <tr>
            <td>作者</td>
            <td>周俊</td>
        </tr>
        <tr>
            <td>编译器</td>
            <td>Intellij Idea</td>
        </tr>
        <tr>
            <td>JDK version</td>
            <td>1.8</td>
        </tr>
        <tr>
            <td>技术</td>
            <td>git、jrebel、xrebel、elasticsearch、在线支付、第三方登录、jenkins、swagger等</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
    <img src="/WEB-INF/images/backgroud.jpg">
</body>
</html>